[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cidc_utils = {git = "https://github.com/CIMAC-CIDC/cidc-utils"}
python-dotenv = "*"
cachetools = "*"
attrs = "*"
"nose2" = "*"
requests = "*"
bson = "*"
pytest = "*"
pytest-cov = "*"
pytest-html = "*"
PyJWT = "*"
tox = "*"
urllib3 = "*"
cidc_schemas = {git = "https://github.com/CIMAC-CIDC/cidc-schemas.git"}
openpyxl = "*"
dateparser = "*"
jsonschema = "*"
pyyaml = "*"
xlsxwriter = "*"

[dev-packages]
pylint = "*"
"pep8" = "*"
black = "*"
nose2 = {extras = ["coverage-plugin"]}
pytest-html = "*"
"flake8" = "*"
"flake8-mypy" = "*"
autopep8 = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
