[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cidc_utils = {git = "https://github.com/dfci/cidc-utils"}
python-dotenv = "*"
cachetools = "*"
attrs = "*"
"nose2" = "*"
requests = "*"
bson = "*"
pytest = "*"
pytest-cov = "*"
pytest-html = "*"

[dev-packages]
pylint = "*"
"pep8" = "*"
black = "*"
"nose2" = {extras = ["coverage-plugin"]}
pytest-html = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
